{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<!---- Breadcrumb ---->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">About Me</li>
    </ol>
</nav>
<!---- End Breadcrumb ---->

<!---- Content ---->

<div class="container">
    <div class="row login-title">
        <span>ABOUT ME</span>
    </div>
</div>
<div class="container px-0 mb-3">
    <div class="row services-youtube-box">
        <div class="col-12 col-md-6 about-image"></div>
        <div class="col-12 col-md-6 about-text">
            <p>The photographic work with artists and musicians of Brazilian music was the beginning of everything,
                where I was able to have wonderful experiences with fantastic people.
                <br><br>These are some of the names which are part of my portfolio and work done:<br>
                Luan Santana, Roberta Miranda, Pablo, Zezé di Camargo and Luciano, Fernando and Sorocaba, Jorge and
                Mateus, Lucas Lucco, Maiara and Maraísa, Simone and Simária, Tuca Fernandes, Rick and Renner, Ivete
                Sangalo, Dj Dennis, Alok, Vintage Culture , Make u Sweat, Jet Lag, Bell Marques, Chitãozinho and Xororó,
                Babi Muniz, Wesley Safadão, Double You, Katinguelê, Inner Circle, Alpha Blondy, Anitta, Planet Hemp,
                Melim, Saulo, Daniela Mercury, among others.
            </p>
        </div>
        <div class="col-12 col-md-7 about-text">
            <p>I have worked in countless festivals and events around Brazil such as:<br><br>
                Salvador Summer Festival in the years 2018, 2019 and 2020, Villa Mix Festival, VIP Girl, As Patroas,
                Campus Party, Flica year 2017, among others, including DVD recording, as official photographer, photo
                operator and video taken aerials by drone.
            </p>
        </div>
        <div class="col-12 col-md-5 about-image2"></div>
        <div class="col-12 about-text">
            <p>One of my passions is photography work in the studio. I have produced numerous advertising campaigns for
                Brazilian artists, restaurants and photographic models in my studio.<br>
                <p>I have direct action in the control of lighting, photography and production always focusing on
                    achieving
                    a
                    result with unique personality and soul.</p>
            </p>
        </div>
        <div class="col-12 col-md-6 about-image3"></div>
        <div class="col-12 col-md-6 about-text">
            <p>I could not forget to mention that I sign several menus for restaurants and bistros in São Paulo and the
                Northeast of Brazil, photographing dishes and recipes that are true works of art.<br>
                When talking about works of art, I have a collection of photographs for Fine Art, which allows me to
                work
                directly with architects and decorators. In the year 2019, I worked at the events Casas Conceito and
                Casa
                Cor da Bahia - Brazil.</p>
        </div>

        <div class="col-12 about-text pb-4">
            <p>This is just a summary of more than eleven years of dedication and passion for what I do, and I hope to
                contribute even more to the segment in the coming years.</p>
        </div>
    </div>
</div>

{% endblock %}