{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<!---- Breadcrumb ---->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">About Me</li>
    </ol>
</nav>
<!---- End Breadcrumb ---->

<!---- Content ---->

<div class="container">
    <div class="row login-title">
        <span>ABOUT ME</span>
    </div>
</div>

{% endblock %}