{% extends "base.html" %}

{% load static %}

{% block content %}

<!---- Main photo and logo ---->
<div class="index-main">
    <div class="row logo-main">
        <div class="logo-paolo">
            <span>Paolo&nbsp;</span>
        </div>
        <div class="logo-martinelli">
            <span>Martinelli</span>
        </div>
    </div>
</div>
<!-- End Main photo and logo -->

<!---- Portfolio ---->
<div class="container">
    <div class="row page-title">
        <span>PORTFOLIO</span>
    </div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="row justify-content-center px-2">
                    <div class="col-12 col-sm-6">
                        <div class="portfolio-selection" data-aos="fade-up">
                            <a href="{% url 'photos' %}">
                                <img class="portfolio-selection-image"
                                    src="https://photographer-static.s3.eu-west-2.amazonaws.com/media/portfolio-selection-photo.jpg"
                                    alt="Photo">
                                <div class="portfolio-selection-details">
                                    <h3>Photo</h3>
                                    <p>See my photo portfolio</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="portfolio-selection" data-aos="fade-up">
                            <a href="{% url 'videos' %}">
                                <img class="portfolio-selection-image"
                                    src="https://photographer-static.s3.eu-west-2.amazonaws.com/media/portfolio-selection-video.jpg"
                                    alt="Video">
                                <div class="portfolio-selection-details">
                                    <h3>Video</h3>
                                    <p>See my video portfolio</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!---- End Portfolio ---->

<!---- About Me ---->
<div class="row page-title">
    <span>ABOUT ME</span>
</div>

<div class="index-about">
    <div class="row justify-content-center m-0">
        <div class="col-12 col-sm-6 p-0">
            <div class="index-about-image">
                <img class="portfolio-selection-image"
                    src="https://photographer-static.s3.eu-west-2.amazonaws.com/media/aboutme.jpg"
                    alt="Paollo Martinelli">
            </div>

        </div>
        <div class="col-12 col-md-6">
            <div class="index-about-description">
                <h2>Paollo Martinelli</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda delectus
                    laudantium explicabo saepe ducimus? Quis commodi tenetur perferendis quaerat ad.
                    Doloremque mollitia excepturi illo nostrum possimus, ex tempore quasi a.</p>
                <a href="{% url 'about'%}">
                    <div class="index-about-button mt-1">
                        <button type="button" class="btn category-btn">Read more about me</button>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
<!---- End About Me ---->

<!---- Services ---->

<div class="container index-services">
    <div class="row page-title">
        <span>SERVICES</span>
    </div>

    <div class="index-about-description">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda delectus
            laudantium explicabo saepe ducimus? Quis commodi tenetur perferendis quaerat ad.
            Doloremque mollitia excepturi illo nostrum possimus, ex tempore quasi a.</p>
        <ul>
            <li>
                Youtube Video Editing
            </li>

            <li>
                Photo editing services
            </li>

            <li>
                Institutional video editing
            </li>
        </ul>
    </div>
    <div class="row index-services-icons">
        <ul class="list-inline col-10 col-sm-12 p-0">
            <li class="list-inline-item">
                <i class=" fab fa-youtube"></i>
            </li>
            <li class="list-inline-item">
                <i class="list-inline-item  fas fa-camera-retro"></i>
            </li>
            <li class="list-inline-item">
                <i class="list-inline-item fas fa-film"></i>
            </li>
            <li class="list-inline-item">
                <i class="list-inline-item far fa-image"></i>
            </li>
        </ul>
    </div>
    <a href="{% url 'services'%}">
        <div class="col-12 index-services-button mt-1">
            <button type="button" class="btn category-btn">Hire my services</button>
    </a>
</div>





{% endblock %}