{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<!---- Breadcrumb ---->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'portfolio' %}">Portfolio</a></li>
        <li class="breadcrumb-item"><a href="{% url 'music' %}">Photos</li></a>
        <li class="breadcrumb-item active">{{ category }}</li>
    </ol>
</nav>
<!---- End Breadcrumb ---->

<!---- Content ---->

<div class="container p-0">
    <div class="row login-title">
        <span>PHOTOS</span>
    </div>
    <!---- Photo Categories ---->

    <!-- Mobile display -->

    <div class="container-fluid categories-menu">
        <a href="{% url 'music' %}" class="btn category-btn">Music Shows</a>
        <a href="{% url 'studio' %}" class="btn category-btn">Studio</a>
        <a href="{% url 'food' %}" class="btn category-btn">Food</a>
        <a href="{% url 'weeding' %}" class="btn category-btn">Weeding</a>
        <a href="{% url 'photo_drone' %}" class="btn category-btn">Drone</a>
        <a href="{% url 'fineart' %}" class="btn category-btn">Fine Art</a>
    </div>

    <!---- End Photo Categories ---->

    <!-- Photos -->

    <div class="container my-2">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="row justify-content-center mx-2">
                    {% for photo in photos %}
                    <div data-aos="fade-up" class="col-12 col-sm-6 col-md-4 col-lg-3 photos-box photo-gallery">
                        <a href="{{ photo.image.url }}" title="{{ photo.title }} {{ photo.description }}"
                            data-caption="{{ photo.description }}">
                            <img src="{{ photo.image.url }}" alt="{{ photo.title }}">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}