{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Portfolio</li>
    </ol>
</nav>
<!-- End Breadcrumb -->

<!-- Content -->

<div class="container">
    <div class="row login-title">
        <span>PORTFOLIO</span>
    </div>

    <div class="container mt-5 mb-2">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="row justify-content-center px-2">
                    <div class="col-12 col-sm-5">
                        <div class="portfolio-selection" data-aos="fade-up">
                            <a href="{% url 'music' %}">
                                <div class="portfolio-selection-overlay"></div>
                                <img class="portfolio-selection-image"
                                    src="https://photographer-static.s3.eu-west-2.amazonaws.com/media/portfolio-selection-photo.jpg"
                                    alt="Photo">
                                <div class="portfolio-selection-details">
                                    <h3>Photo</h3>
                                    <p>See my photo portfolio</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-5">
                        <div class="portfolio-selection" data-aos="fade-up">
                            <a href="{% url 'video_music' %}">
                                <img class="portfolio-selection-image"
                                    src="https://photographer-static.s3.eu-west-2.amazonaws.com/media/portfolio-selection-video.jpg"
                                    alt="Video">
                                <div class="portfolio-selection-details">
                                    <h3>Video</h3>
                                    <p>See my video portfolio</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}