{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<!---- Breadcrumb ---->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'portfolio' %}">Portfolio</a></li>
        {% if category %}
        <li class="breadcrumb-item"><a href="{% url 'videos' %}">Videos</li></a>
        <li class="breadcrumb-item active">{{ category }}</li>
        {% else %}
        <li class="breadcrumb-item active">All Videos</li>
        {% endif %}
    </ol>
</nav>
<!---- End Breadcrumb ---->

<!---- Content ---->

<div class="col-12"></div>
<div class="container">
    <div class="row login-title">
        <span>VIDEOS</span>
    </div>
    <!---- Photo Categories ---->
    <div class="categories-menu">
        <a href="{% url 'videos' %}" class="btn category-btn">All Videos</a>
        <a href="{% url 'institutional' %}" class="btn category-btn">Institutional</a>
        <a href="{% url 'video_music' %}" class="btn category-btn">Music</a>
        <a href="{% url 'events' %}" class="btn category-btn">Events</a>
        <a href="{% url 'drone' %}" class="btn category-btn">Drone</a>
    </div>

    <!---- End Categories ---->

    <!-- Videos -->
    <div class="row justify-content-center mb-4">
        {% for video in videos %}
        <div class="col-md-6 col-lg-4" data-aos="fade-up">
            <div class="col-12 video-box">
                <iframe src="{{ video.videoUrl }}?title=0&byline=0&portrait=0" frameborder="0"
                    allow="autoplay; fullscreen" allowfullscreen>
                </iframe>
                <div class="row justify-content-center pt-2 pb-2">{{ video.title }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- End Videos -->
</div>

{% endblock %}
