{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'portfolio' %}">Portfolio</a></li>
        <li class="breadcrumb-item"><a href="{% url 'video_music' %}">Videos</li></a>
        <li class="breadcrumb-item active">{{ category }}</li>
    </ol>
</nav>
<!-- End Breadcrumb -->

<!-- Content -->

<div class="container p-0">
    <div class="row login-title">
        <span>VIDEOS</span>
    </div>
    <!-- Photo Categories -->
    <div class="container-fluid categories-menu">
        <a href="{% url 'video_music' %}" class="btn category-btn">Music</a>
        <a href="{% url 'institutional' %}" class="btn category-btn">Institutional</a>
        <a href="{% url 'events' %}" class="btn category-btn">Events</a>
        <a href="{% url 'drone' %}" class="btn category-btn">Drone</a>
    </div>

    <!-- End Categories -->

    <!-- Videos -->
    <div class="row justify-content-center mb-4">
        {% for video in videos %}
        <div class="col-md-6 col-lg-4 p-0" data-aos="fade-up">
            <div class="embed-container">
                <iframe src="{{ video.videoUrl }}?title=0&byline=0&portrait=0" frameborder="0"
                    allow="autoplay; fullscreen" allowfullscreen>
                </iframe>
            </div>
            <div class="row col-10 video-title">{{ video.title }}</div>
        </div>
        {% endfor %}
    </div>
    <!-- End Videos -->
</div>

{% endblock %}