{% extends "base.html" %}

{% load static %}
{% block content %}

<!---- Breadcrumb ---->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Reset Password</li>
    </ol>
</nav>
<!---- End Breadcrumb ---->

<!---- Content ---->

<div class="container">
    <div class="row login-title">
        <span>PASSWORD RESET</span>
    </div>
</div>
<div class="container-fluid col-11 col-md-8 col-lg-6 col-xl-5 login-container">
    <div class="container form-login py-2">
        <div class="container">
            <div class="container">
                <div class="d-flex flex-column">
                    <p class="mx-auto mt-3">Your password has been updated. You can Log in now.</p>
                    <a href="{% url 'login' %}">
                        <div class="login-button my-3 text-center">
                            <button class="profile-btn col-8" type="button">Login</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}