{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Reset Password</li>
    </ol>
</nav>
<!-- End Breadcrumb -->

<!-- Content -->

<div class="container">
    <div class="row login-title">
        <span>PASSWORD RESET</span>
    </div>
</div>
<div class="container-fluid col-11 col-md-8 col-lg-6 col-xl-5 login-container">
    <div class="container form-login py-2">
        <div class="d-flex justify-content-center my-3">
            <span>Enter your email and we'll send you a link to register a new password.
            </span>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="login-button my-3 text-center">
                <button class="profile-btn col-8" type="submit">
                    Send reset email
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}