<!-- Footer -->
<div class="container">
    <!-- Photographer Brand -->
    <div class="row">
        <div class="footer-logo">
            <div class="footer-logo-paolo">
                <span>Paolo&nbsp;</span>
            </div>
            <div class="footer-logo-martinelli">
                <span>Martinelli</span>
            </div>
        </div>
    </div>


    <!-- Social Media Icons -->
    <div class="row footer-list">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a target="_blank" href="https://www.youtube.com/c/paolomartinelli" rel="noopener">
                    <i class="list-inline-item fab fa-lg fa-youtube-square"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a target="_blank" href="https://www.instagram.com/paolomartinellioficial/" rel="noopener">
                    <i class="list-inline-item  fab fa-lg fa-instagram-square"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a target="_blank" href="https://vimeo.com/paolofilms" rel="noopener">
                    <i class="list-inline-item fab fa-lg fa-vimeo-square"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a target="_blank" href="https://twitter.com/oficialjucabala" rel="noopener">
                    <i class="list-inline-item fab fa-lg fa-twitter-square"></i>
                </a>
            </li>
        </ul>
    </div>
    <!-- Copyright -->
    <div class="row footer-copyright">© 2020 Copyright: Paolo Martinelli</div><!--  -->
</div>