<!-- Footer -->
<div class="container">
    <!-- Photographer Brand -->
    <div class="row">
        <div class="footer-logo">
            <div class="footer-logo-paolo">
                <span>Paolo&nbsp;</span>
            </div>
            <div class="footer-logo-martinelli">
                <span>Martinelli</span>
            </div>
        </div>
    </div>


    <!-- Social Media Icons -->
    <div class="row footer-list">
        <ul class="list-inline">
            <li class="list-inline-item">
                <i class=" fab fa-lg fa-facebook-square"></i>
            </li>
            <li class="list-inline-item">
                <i class="list-inline-item  fab fa-lg fa-instagram-square"></i>
            </li>
            <li class="list-inline-item">
                <i class="list-inline-item fab fa-lg fa-vimeo-square"></i>
            </li>
            <li class="list-inline-item">
                <i class="list-inline-item fab fa-lg fa-twitter-square"></i>
            </li>
        </ul>
    </div>
    <!-- Copyright -->
    <div class="row footer-copyright">© 2020 Copyright: Paolo Martinelli</div><!--  -->
</div>