{% load static %}


<!---- Sidebar ---->
<nav class="sidebar">

    <!---- close sidebar -->
    <div class="close-menu">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-logo">
        <div class="sidebar-logo-paolo">
            <span>Paolo&nbsp;</span>
        </div>
        <div class="sidebar-logo-martino">
            <span>Martino</span>
        </div>
    </div>

    <ul class="menu-elements list-unstyled">
        <li class="active">
            <a class="menu-link" href="#top-content">HOME</a>
        </li>
        <li>
            <a class="menu-link" href="#section-1">PORTFOLIO</a>
        </li>
        <li>
            <a class="menu-link" href="#section-2">ABOUT ME</a>
        </li>
        <li>
            <a class="menu-link" href="#section-3">SERVICES</a>
        </li>
        <li>
            <a class="menu-link" href="#section-4">CONTACT</a>
        </li>
        <li>
            <a class="menu-link" href="#section-4">LOGIN</a>
        </li>
    </ul>
    <div class="container">
        <!-- Social Media Icons -->
        <div class="row sidebar-social-media">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <i class=" fab fa-lg fa-facebook-square"></i>
                </li>
                <li class="list-inline-item">
                    <i class="list-inline-item  fab fa-lg fa-instagram-square"></i>
                </li>
                <li class="list-inline-item">
                    <i class="list-inline-item fab fa-lg fa-vimeo-square"></i>
                </li>
                <li class="list-inline-item">
                    <i class="list-inline-item fab fa-lg fa-twitter-square"></i>
                </li>
            </ul>
        </div>
        <!-- Copyright -->
        <div class="row sidebar-copyright">© 2020 Copyright: Paolo Martino</div><!--  -->
    </div>
</nav>
<!-- End sidebar -->


<!-- Dark overlay -->
<div class="overlay"></div>

<!-- Content -->
<div class="sidebar-trigger">

    <!-- open sidebar menu -->
    <a class="btn btn-custom open-menu" href="#" role="button">
        <i class="fas fa-bars"></i>
    </a>

</div>

{% if request.path != '/' %}
<div class="logo-top">
    <div class="logo-top-paolo">
        <span>Paolo&nbsp;</span>
    </div>
    <div class="logo-top-martino">
        <span>Martino</span>
    </div>
</div>
{% else %}
{% endif %}
<!-- End content -->