@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Poppins:100,200,300,400,500,600,700');


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #191919;
    color: rgba(255, 255, 255, 0.87)
}

a,
u {
    text-decoration: none !important;
    color: inherit;
}

a:hover,
a:active {
    color: #c50808de;
}


/*---- Breadcumbs style ----*/

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}

.breadcrumb-style {
    background-color: #2E2E2E;
}

/*---- End Breadcumbs style ----*/


.index-main {
    background-image: url("../img/main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Logo Top page if not main */
.logo-top {
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 15px 0 0 15px;
    padding: 0.35rem 0 0 2.3rem;
}

.logo-top-paolo {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: white;
    font-weight: 200;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.87);
}

.logo-top-martino {
    font-family: "Robotto", sans-serif;
    font-size: 1.5rem;
    color: white;
    font-weight: 300;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.87);
}

/* End Logo Top page if not main */


.logo-main {
    min-height: 100vh;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding-top: 6rem;
}

.logo-paolo {
    font-family: "Roboto", sans-serif;
    font-size: 2.7rem;
    color: white;
    font-weight: 200;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.87);
}

.logo-martino {
    font-family: "Robotto", sans-serif;
    font-size: 2.7rem;
    color: white;
    font-weight: 300;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.87);
}

/*---- Login and Register ----*/
.login-container,
.register-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: #2E2E2E;
    border: 1px solid #8f8f8f;
    border-radius: 7px;
}

.login-title,
.register-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 28px;
    margin: 2rem auto 1rem auto;
    color: rgba(255, 255, 255, 0.87);
}

.register-button,
.login-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.user-icon,
.mail-icon {
    font-size: 40px;
    padding: 4px 8px 0 0;
    color: rgb(255, 255, 255);
}

.password-icon {
    font-size: 35px;
    padding: 4px 8px 0 0;
    color: #ffffffde;
}

.form-control {
    border: 2px solid rgba(255, 255, 255, .2);
    height: 45px;
    background: 0 0 !important;
    color: #fff !important;
    font-size: 18px;
}

.form-control:focus {
    border-color: #d6d6d6;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.btn-register, .btn-login {
    background-color: #838383de;
    color: #ffffffde;
}

.btn-register:hover, .btn-login:hover {
    background-color: #a30d0dde;
    color: #ffffffde;
}

/*---- Footer ----*/

footer {
    margin-top: 3rem;
    width: 100%;
    background-color: #191919;
}

.footer-logo {
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin: 0.5rem 0 0 0;
}

.footer-logo-paolo {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: white;
    font-weight: 200;
}

.footer-logo-martino {
    font-family: "Robotto", sans-serif;
    font-size: 1rem;
    color: white;
    font-weight: 300;
}

.footer-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-size: 30px;
    color: #bebebe;
}

.list-inline {
    margin-bottom: 5px
}

.list-inline-item:hover {
    color: #a30d0d
}

.footer-copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    color: #bebebe;
    font-size: 0.5rem;
    margin-bottom: 1rem;
}


@media (max-width: 320px) {
    .logo-paolo {
        font-size: 2rem;
    }

    .logo-martino {
        font-size: 2rem;
    }

}

@media (min-width: 500px) {
    .logo-paolo {
        font-size: 4rem;
    }

    .logo-martino {
        font-size: 4rem;
    }

}

@media (min-width: 768px) {
    .logo-top {
        margin: 0 0 0 15px;
        padding: 0.45rem 0 0 2.3rem;
    }

    .logo-top-paolo {
        font-size: 2.2rem;
    }

    .logo-top-martino {
        font-size: 2.2rem;
    }

    .logo-main {
        padding-top: 10rem;
    }

    .logo-paolo {
        font-size: 5rem;
    }

    .logo-martino {
        font-size: 5rem;
    }

}

@media (min-width: 992px) {
    .logo-top {
        padding: 0.55rem 0 0 2.3rem;
    }

    .logo-main {
        padding-top: 12rem;
    }
}

@media (min-width: 1600px) {
    .logo-top {
        margin: 5px 0 0 0;
    }

    .logo-top-paolo {
        font-size: 2.2rem;
    }

    .logo-top-martino {
        font-size: 2.2rem;
    }

    .logo-main {
        padding-top: 6rem;
    }

    .logo-paolo {
        font-size: 6rem;
        padding-top: 9rem;
    }

    .logo-martino {
        font-size: 6rem;
        padding-top: 9rem;
    }

}