{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}


<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'profile' %}">My Account</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
    </ol>
</nav>
<!-- End Breadcrumb -->

<!-- Alert Messages  -->
{% include "partials/messages.html" %}
<!-- End Alert Messages  -->

<!-- Content -->

<div class="container">
    <div class="row page-title">
        <span>Edit Profile</span>
    </div>
</div>

<div class="container-fluid col-11 col-md-8 col-xl-6 login-container">
    <div class="container form-login px-0 px-md-4 pt-4">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="row profile-button-box mt-4">
                <div class="col-12 col-sm-6 p-0 pr-sm-2 mb-3">
                    <a href="{% url 'profile' %}">
                        <div class="profile-btn text-center">BACK TO PROFILE</div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 p-0 pl-sm-2 mb-3">
                        <button class="profile-btn" type="submit">SAVE</button>
                </div>
                <div class="col-12 p-0 mx-0 mb-3">
                    <a href="{% url 'delete_user' %}">
                        <div class="profile-btn text-center">DELETE USER</div>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>





{% endblock %}