{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}


<!---- Breadcrumb ---->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'profile' %}">My Account</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
    </ol>
</nav>
<!---- End Breadcrumb ---->

<!---- Alert Messages  ---->
{% include "partials/messages.html" %}
<!---- End Alert Messages  ---->

<!---- Content ---->

<div class="container">
    <div class="row page-title">
        <span>Edit Profile</span>
    </div>
</div>

<div class="container-fluid col-11 col-md-8 col-xl-6 login-container">
    <div class="container form-login px-0 px-md-4 pt-4">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="row profile-button-box mt-4">
                <div class="col-12 col-sm-6 p-0 pr-sm-2 mb-3">
                    <a href="{% url 'index' %}">
                        <button class="profile-btn" type="button">BACK TO MAIN</button>
                    </a>
                </div>
                <div class="col-12 col-sm-6 p-0 pl-sm-2 mb-3">
                    <a href="{% url 'index' %}">
                        <button class="profile-btn" type="submit">SAVE</button>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>





{% endblock %}