{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<!---- Breadcrumb ---->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Login</li>
    </ol>
</nav>
<!---- End Breadcrumb ---->

<!---- Content ---->

<div class="container">
    <div class="row login-title">
        <span>LOG IN</span>
    </div>
</div>
<div class="container-fluid col-11 col-md-8 col-lg-6 col-xl-5 login-container">
    <div class="container form-login px-4 pt-4">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="login-button mt-1 mb-2">
                <button type="submit" class="btn btn-sm btn-login"><i class="fas fa-sign-in-alt fa-sm"></i> Log
                    in</button>
            </div>
            <div class="d-flex justify-content-center mb-4">
                <span><a href="{% url 'password_reset' %}"><strong>Forgot Password?</strong></a></span>
            </div>
            <div class="d-flex justify-content-center mb-4">
                <span>No account yet? <a href="{% url 'register' %}"><strong>Click
                            here to register</strong></a></span>
            </div>
        </form>
    </div>
</div>
{% endblock %}