{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<!---- Breadcrumb ---->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-style">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'services' %}">Professional Services</li></a>
    <li class="breadcrumb-item active" aria-current="page">Payment</li>
  </ol>
</nav>
<!---- End Breadcrumb ---->

<!-- Stripe CSS -->
<link rel="stylesheet" href="{% static 'css/stripe.css' %}">
<!-- Stripe JS V3 -->
<script src="https://js.stripe.com/v3/"></script>

<!---- Content ---->
<div class="container">
  <div class="row payment-title">
    <span>{{ plan.type }} Payment</span>
  </div>
</div>

<div class="container-fluid col-11 col-md-8 col-xl-6 login-container">
  <div class="container form-login px-0 px-md-4 pt-4">
    <div class="payment-text">
      <span>
        Please check your personal details and chosen plan, enter your card details and then press the pay now
        button.</span>
    </div>
    <form action="{% url 'charge' %}" method="post" id="payment-form">
      {% csrf_token %}
      <label style="color: #adadadb8;">
        Name
      </label>
      <div class="form-group">
        <input class="textinput form-control" type="text" name="name" value="{{ user.first_name }} {{ user.last_name }}"
          readonly>
      </div>
      <label style="color: #adadadb8;">
        Email
      </label>
      <div class="form-group">
        <input required class="textinput form-control" type="text" name="email" value="{{ user.email }}" readonly>
      </div>
      <label style="color: #adadadb8;">
        Selected Plan
      </label>
      <div class="form-group">
        <input class="textinput form-control" type="text" name="plan_selected" value="{{ plan.type }}" readonly>
      </div>
      <label style="color: #adadadb8;">
        Price £
      </label>
      <div class="form-group">
        <input class="textinput form-control" type="number" name="plan_price" value="{{ plan.price }}" readonly>
      </div>

      <div class="form-group">
        <label for="card-element" style="color: #adadadb8;">
          Credit or debit card number
        </label>
        <div id="card-element">
          <!-- A Stripe Element will be inserted here. -->
        </div>

        <!-- Used to display form errors. -->
        <div class="card-number-error text-center" id="card-errors" role="alert"></div>
      </div>
      <div class="col-12 p-0">
        <input class="pay-now-btn" type="submit" value="PAY NOW" name="">
      </div>
    </form>
    <div class="row p-0 m-0 my-3 justify-content-end">
      <a href="{% url 'services' %}">
        <button class="btn category-btn m-0" type="button">Cancel</button>
      </a>
    </div>
  </div>
</div>

<script src="{% static 'js/stripe.js' %}"></script>
{% endblock %}