{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<!---- Breadcrumb ---->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item" aria-current="page">Professional Services</li>
        <li class="breadcrumb-item active" aria-current="page">Payment</li>
    </ol>
</nav>
<!---- End Breadcrumb ---->

<!---- Content ---->
<div class="container">
    <h2>Sucess</h2>
    <h3></h3>
</div>

{% endblock %}