<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap and FontAwesome cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap">
    <!-- CSS -->
    <link rel="stylesheet" href="https://photographer-static.s3.amazonaws.com/static/css/main.css">
    <title>404</title>
</head>

<body>
    <div class="container col-11 col-md-8 login-container my-auto">
        <div class="row error-title">404</div>
        <div class="row error-sub">OOPS, THE PAGE YOU ARE LOOKING FOR CAN'T BE FOUND!</div>
        <div class="row profile-button-box my-4">
            <div class="col-10 col-sm-6 p-0 mx-auto mb-3">
                <a href="{% url 'index' %}">
                    <div class="profile-btn text-center">Back to main page</div>
                </a>
            </div>
        </div>
</body>

</html>